.main-container {
    display: flex;
    justify-content: space-between;
  }


  p {
    color: white;
  }
  
li {
    color:white;
    line-height: 35px;
}
  
.song-name {
    color: #afd49d;
}

ul {
    list-style: none;
}