.App {
  text-align: left;
  background-color:#100e10;
  padding: 10px;
}

h1 {
  margin-left: 40px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  color:#edcecb;
  font-size: 35pt;
  font-family:'Courier New', Courier, monospace
}


